@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GeneralSans-Variable";
  src:
    url("@/assets/fonts/general-sans/GeneralSans-Variable.woff2")
      format("woff2"),
    url("@/assets/fonts/general-sans/GeneralSans-Variable.woff") format("woff"),
    url("@/assets/fonts/general-sans/GeneralSans-Variable.ttf")
      format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "CabinetGrotesk-Variable";
  src:
    url("@/assets/fonts/cabinet-grotesk/CabinetGrotesk-Variable.woff2")
      format("woff2"),
    url("@/assets/fonts/cabinet-grotesk/CabinetGrotesk-Variable.woff")
      format("woff"),
    url("@/assets/fonts/cabinet-grotesk/CabinetGrotesk-Variable.ttf")
      format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-general-sans;
  }
  html {
    @apply font-cabinet;
  }
}

.header-spacing {
  padding-top: 76px !important;
}

a,
.underline-effect {
  &:not([no-underline-effect]) {
    @apply relative no-underline;

    &::before {
      @apply absolute bottom-0 right-0 h-1 w-full origin-right rounded bg-black;
      content: "";
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }

    &:hover {
      &::before {
        @apply origin-left;
        transform: scaleX(1);
      }
    }
  }
}
